@charset "utf-8";

body {background-color: #242F3F;color:#f9f9f9;font-weight:400;letter-spacing:0}

.tb_tree::-webkit-scrollbar {background-color:rgba(255,255,255,.3);width:16px;border-radius: 0 10px 10px 0;overflow: hidden;}
.tb_tree::-webkit-scrollbar-thumb {background-color:#babac0;border-radius:16px;border:4px solid #fff}
.tb_tree::-webkit-scrollbar-button {display:none}

.wrapper a{color:inherit}

.title{transition:.3s all ease;position: fixed;top:19px;left:100px;height:40px;line-height:40px;font-size:28px;font-weight:600;}
.nav{position:fixed;top:0;left:0;width:200px;bottom:0;background:rgba(10,10,20,.9);z-index: 10;transition: .3s all ease;transform:translateX(-200px)}
.nav__button{position:absolute;right:20px;width: 40px;top:17px;transform:translateX(100px);transition: .3s all ease;cursor: pointer;}
.nav__button:after, 
.nav__button:before, 
.nav__button__inner {background-color: #fff;border-radius: 3px;content: '';display: block;height: 5px;margin: 7px 0;transition: all .2s ease-in-out;}

.menuon .title{transform:translateX(40px);opacity:0}
.menuon .nav{transform:translateX(0)}
.menuon .nav__button{transform:translateX(0)}
.menuon .nav__button:before {transform: translateY(12px) rotate(135deg);}
.menuon .nav__button:after {transform: translateY(-12px) rotate(-135deg);}
.menuon .nav__button__inner {transform: scale(0);}

.nav-menu{padding-top:80px;border-bottom:1px solid rgba(255,255,255,.1)}
.nav-menu__item{display:flex;align-items:center;gap:0 4px;cursor:pointer;position:relative;padding:10px 10px 10px 30px;height:30px;line-height:30px;border-top:1px solid rgba(255,255,255,.1);color:#fff;font-size:18px;letter-spacing:-1px;transition:.2s all ease}
.nav-menu__item:hover{background-color:#242f3f;font-weight:500;padding:10px 10px 10px 36px}
.nav-menu__item.selected{text-shadow: 1px 1px 0 rgba(0,0,0,.3);font-weight:800;padding:10px 10px 10px 36px;margin-left:-6px;background-color:var(--var-select-color);transform:translateX(6px)}
.nav-menu__item.selected:after{content:"";position: absolute;bottom:-6px;right:0;border:3px solid rgba(0,0,0,.5);border-right-color:transparent;border-bottom-color:transparent}
.nav-menu__item.selected:before{background-position:0 -240px;transform:scale(1.1) translateX(10px);transform-origin:center center;}
.nav-menu__item .tag-no-service{padding:0 6px 0 4px;height:16px;font-size:12px;font-weight:400;color:#fff;border-radius:2px;line-height:16px;border:1px solid rgba(177, 27, 27, 0.534);background-color:rgba(177, 27, 27, 0.534)}
.nav-menu__item.selected .tag-no-service{border-color:rgba(0,0,0,.1);background-color:rgba(0,0,0,.2)}

#content{margin:80px 40px 40px;left:0;right:0;top:0;bottom:0;position:fixed;overflow: hidden;transition: all .4s ease}
.menuon #content{transform: translateX(20px) scale(0.95);opacity:.8}

.tb_tree{position: absolute;top:0;left:0;right:0;bottom:0;opacity:0;z-index:0;min-width:370px}
.tb_tree.on{opacity:1;z-index:1}

.tb_tree,
.tb_mockup{letter-spacing:0;font-size:16px;color:#222;border-radius: 10px;overflow-y: auto;background:#fff;height:100%;}
.tb-item{background:#fff;padding-left:20px;font-size:16px;transition:all .3s ease;transform-origin: top;/* overflow: hidden; */}
.tb-item:not(.d1){transform:scale3d(1,0,1) translateY(-5px);height:0;}
.tb-item.open{height:auto;padding-bottom:10px}
.tb-item.open > .tb-item{transform:scale3d(1,1,1);height:auto}
.tb-item.d1{padding-left:0;font-size:18px;}
.tb-item.d1 > .tb-item__group{background:#f2f2f2;position:sticky;top:0;z-index:10;line-height:36px;color:#333;height:36px}
.tb-item.d1:nth-of-type(even) > .tb-item__group{background:#e5e5e5}
.tb-item.d2{font-size:16px}
.tb-item.d3{font-size:14px}
.tb-item.d4{font-size:13px}
.tb-item.d5{font-size:12px}
.tb-item.d6{font-size:12px}
.tb-item.d7{font-size:12px}
.tb-item.d8{font-size:12px}

.tb-item__group{display:flex;padding:12px 20px;position: relative;align-items:center;flex-wrap:wrap;gap:4px;min-height:20px}
.tb-item.d2 .tb-item__group{padding:10px 20px;}
.tb-item.d3 .tb-item__group{padding:10px 20px;}
.tb-item.d4 .tb-item__group{padding:6px 20px}
.tb-item.d5 .tb-item__group{padding:6px 20px}
.tb-item.d6 .tb-item__group{padding:6px 20px}
.tb-item.d7 .tb-item__group{padding:6px 20px}
.tb-item.d8 .tb-item__group{padding:6px 20px}

.tb-item__group .tx_tit{position: relative;display:flex;align-items:center;padding:0 0 0 20px;border:0;background-color:transparent;font-size:inherit;gap:0 4px;color:#222}
.tb-item__group .tx_tit .tag-category{white-space:nowrap;font-size:10px;padding:0 4px;height:16px;line-height:16px;border:1px solid #4a8afc;background-color: #fff;color:#4a8afc;border-radius:4px;font-weight:800}
.tb-item__group .tx_tit:before,
.tb-item__group .tx_tit:after{background: #242F3F;content: '';height: 4px;border-radius:24px 24px;left: 0;position: absolute;top: 50%;width: 12px;margin-top:-2px;transition: transform 500ms ease;}
.tb-item.d1 .tb-item__group .tx_tit{font-weight:700}
.tb-item.d2 .tb-item__group .tx_tit{font-weight:600;font-size:14px}
.tb-item.d3 .tx_tit:before,
.tb-item.d3 .tx_tit:after{height:2px;margin-top:-1px;width:8px}
.tb-item > .tb-item__group .tx_tit:after{transform-origin: center;}
.tb-item > .tb-item__group .tx_tit:before{transform: rotate(180deg);}
.tb-item > .tb-item__group .tx_tit:after{transform: rotate(90deg);}
.tb-item.open > .tb-item__group .tx_tit:before,
.tb-item.open > .tb-item__group .tx_tit:after{transform: rotate(0deg);}
.tb-item.nochild > .tb-item__group .tx_tit:before,
.tb-item.nochild > .tb-item__group .tx_tit:after{width:2px}
.tb-item.disabled{color:#6666668a}
.tb-item.disabled > .tb-item__group .tx_tit{color:#999}
.tb-item.disabled > .tb-item__group .tx_tit:before,
.tb-item.disabled > .tb-item__group .tx_tit:after{background-color:#6666668a}
.tb-item.nochild > .tb-item__group .tx_tit:before,
.tb-item.disabled > .tb-item__group .tx_tit:before{transform: rotate(-45deg);}
.tb-item.nochild > .tb-item__group .tx_tit:after,
.tb-item.disabled > .tb-item__group .tx_tit:after{transform: rotate(45deg);}

.tb-item.nochild > a span.tx_tit{min-width:140px;}
.tb-item .tx_Main{white-space:nowrap;font-size:12px;padding:0 6px;height:18px;line-height:18px;background-color:#3a7bd5;color:#fff;border-radius:4px;font-weight:400}
.tb-item .tx_sub{white-space:nowrap;font-size:12px;opacity: .7;padding:0 6px;height:16px;line-height:16px;border:1px dashed #737373;background-color:rgba(0,0,0,0.05);color:#000;border-radius:4px}
.tb-item .tag-disabled{white-space:nowrap;font-size:12px;padding:0 8px 0 6px;height:16px;line-height:16px;border:1px dashed #dc0530;background-color:#ffedf1;color:#dc0530;border-radius:4px;font-weight:600}
.tb-item .type{display:none}
.tb-item .tx_uri{font-size:12px;padding:0 10px;text-decoration: underline;text-underline-position: under; text-decoration-color:#3a7bd534; color:#3a7bd5;position: relative;z-index:10}
.tb-item .tb-item__group:hover:before{content:"";position: absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.05)}

@media (max-width:640px){
    .title{left:0;right:0;text-align:center}
    .nav .nav__button{transform: translateX(70px);}
    #content{margin:80px 0 0 0;}
    .tb_tree, .tb_mockup{border-radius: 0;}
    .tb-item{padding-left:12px}
    .tb-item > a span.tx_tit,
    .tb-item > a span.tx_sub{display:block}    
    .tb-item .tx_uri{margin-left:6px;text-indent:-9999em;height:20px;padding:0}
    .tb-item .tx_uri:after{content:"[Link]";display:block;text-indent:0;position: relative;top:-12px;font-weight:600;}
    .tb-item:not(.nochild) > .tx_tit{display:inline-block;}
    .tb-item.d2 .tb-item__group{padding:10px}
    .tb-item.d3 .tb-item__group{padding:4px 10px}
}

.admin-button{position: fixed;bottom:20px;left:20px;width:60px;height:60px;z-index: 10;text-align:center;color:#ffed11;transition: transform .6s ease-in-out;transform:translateY(100px)}
.admin-button a{display:block;width:100%;height:100%;border-radius: 50% 50%;background:#414751;border:2px solid #282b30;font-size:12px;line-height:16px;}
.admin-button a span{display:block;margin-top:15px}
.admin-button.on{transform:translateY(0)}